button {
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.main{
  height: 100%;
  width: calc(100% - 250px);
  overflow: scroll;
  &__list{
    padding: 50px 80px;
    &__effector{
      height: 250px;
      width: 100%;
      margin-bottom: 30px;
      padding: 15px;
      border: 1px solid #7aa2c2;
      &__info{
        display: flex;
        &__visual{
          width: 500px;
          &__name{
            font-size: 30px;
          }
          &__image{
            margin-top: 15px;
            &__file{
              margin-left: 30px;
              height: 170px;
            }
          }
        }
        &__text{
          width: 400px;
          word-wrap: break-word;
          &__genre{
            font-size: 20px;
          }
          &__point{
            font-size: 20px;
          }
        }
        &__btns{
          margin-left: 80px;
          &__video{
            border: 2px solid #3e9eec;
            width: 200px;
            height: 60px;
            background-color: #7aa2c2;
            &__btn{
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              background-color: #7aa2c2;
              font-size: 15px;
              cursor: pointer;
            }
          }
          &__official{
            border: 2px solid #3e9eec;
            width: 200px;
            height: 60px;
            background-color: #7aa2c2;
            margin-top: 20px;
            &__btn{
              text-decoration: none;
              &__text{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white
              }
            }
          }
          &__cart{
            border: 2px solid #3e9eec;
            width: 200px;
            height: 60px;
            background-color: #7aa2c2;
            margin-top: 20px;
            &__btn{
              text-decoration: none;
              &__text{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white
              }
            }
          }
        }
      }
    }
  }
}
.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: rgba(45,45,45, 0.7);
  position: fixed;
  top: 0;
  left: 0;  
  &__content{
    background: #fff;
    padding: 30px;
    height: 400px;
    width: 55%;
    display: flex;
  }
}
#show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#close{
  margin:130px 0 0 30px;
  height: 70px;
  width: 300px;
  border: 1px solid #3e9eec;
  background-color: #7aa2c2;
  color: white;
  font-size: 15px

}
.is-hide {
  display: none;
}
