.side-bar{
  height: 100%;
  width: 250px;
  background-color: #003a66;
  text-align: center;
  &__user-info{
    color: hsl(206, 44%, 66%);
    height: 150px;
    text-align: center;
    padding-top: 20px;
    &__name{
      font-size: 25px;
    }
    &__point{
      font-size: 20px;
    }
    &__icon{
      &__link{
        text-decoration: none;
        &__btn{
          text-decoration: none;
          font-size: 20px;
          margin: 10px 15px;
          color: hsl(206, 44%, 66%);
        }
        &__btn:hover{
          font-size: 25px;
          color: white;
        }
      }
    }
  }
  &__user-effectors{
    font-size: 25px;
    &__link{
      text-decoration: none;
      color: #c9e2f7;
    }
    &__link:hover{
      color: white;
    }
  }
  &__effectors{
    font-size: 20px;
    margin-top: 10px;
    color: #c9e2f7;
    &__link:hover{
      color: white;
    }
    &__genre{
      font-size: 15px;
      list-style: none;
      margin-top: 20px;
      &__link{
        text-decoration: none;
        color: #7aa2c2;
      }
      &__link:hover{
        color: white;
      }
    }
  }

}