@import "reset";
@import "modules/effectors";
@import "effectors/index";
@import "header";
@import "effectors/main_effector";
@import "effectors/side_bar";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "boards/index";
@import "boards/new";
@import "boards/create";
@import "boards/form";
@import "boards/show";
html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}

.header{
  height: 100px;
  width: 100%;
  background-color: #005799;
}
